[Desktop Entry]
Type=Application
Name=Wallpaper
Comment=Open wallpaper action menu
Exec=sh -c "PATH=\$HOME/Code/go/bin:\$HOME/go/bin:\$HOME/.local/bin:\$PATH exec wallpaper-menu"
Icon=image-x-generic
Terminal=false
Categories=Utility;
Keywords=wallpaper;background;rotator;wallhaven;
